<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shawshank Redemption Demo</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h1 data-position="header">
      <img src="/poster.jpg" alt="Movie poster of Shawshank Redemption">
      Shawshank #1 "Get Busy Living, Or Get Busy Dying."
    </h1>

    <section data-position="add-quote">
      <h2>Add quote</h2>

      <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="quote" name="quote" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="update-quote">
      <div>
        <h2>
          <img src="/red.jpg" alt="Image of Red">
          Ellis Red Redding Enters!
        </h2>
        <p>
          Replace first Red's quote with a quote written by Andy Dufresne
        </p>
        <button id="update-button">Replace Red's quote</button>
      </div>
    </section>

    <section data-position="delete-quote">
      <div>
        <h2>
          <img src="/andy.jpg" alt="Image of Andy">
          Remove Andy Dufresne!
        </h2>
        <p>
          Delete one Andy's quote. Does nothing if there are no more
          Andy's quote
        </p>
        <button id="delete-button">Delete Andy Dufresne's quote</button>
      </div>
      <div id="message"></div>
    </section>

    <section data-position="quotes">
      <h2>Quotes</h2>

      <ul class="quotes">
        <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <span><%= quotes[i].name %></span>:
          <span><%= quotes[i].quote %></span>
        </li>
        <% } %>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>
